.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container {
  display: flex;
  width: 80%;
  justify-content: center;
  border: 2px dashed #00ff00;
  margin: auto;

  .content-zone {
    display: flex;
    height: 25vh;
    justify-content: stretch;
    flex-grow: 1;
    border: 2px solid  #333333;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;

    .drop-enabled {
      border: 2px dashed #00ff00;
    }

    .info {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-grow: 1;

      .custom-link {
        font-style: normal;
        text-decoration: none;
        color: #333333;
        border: none;

        &:hover {
          opacity: 75%;
          cursor: pointer;
        }
      }

      .drop-or-upload {
        text-align: center;
        flex-basis: 100%;
      }

      .file-name {
        margin-top: 2rem;
        text-align: center;

        li,
        ul,
        ol {
          padding: 0;
          margin-top: 0.5rem;
          list-style: none;
          font-style: italic;
        }
      }

    }

    .text-box {
      display: flex;
      flex-grow: 1;
      font-family: monospace;
    }

  }
}



