// DrawerComponent.scss

$drawerWidth: 240px; 

.main-container {
  flex-grow: 1;
  padding: 3px;
  overflow-x: auto; 
  overflow-y: hidden; 
  max-width: calc(100% - #{$drawerWidth}); 
}

.muiDrawer-root {
  width: $drawerWidth;
  flex-shrink: 0;
}

.muiDrawer-paper {
  width: $drawerWidth;
  box-sizing: border-box;
}
.app-bar {
    width: calc(100% - #{$drawerWidth});
    margin-left: $drawerWidth;
    position: fixed; 
    z-index: 1; 
  }
  .app-bar-title {
    margin-left: 50%; 
  }